{% extends 'base.html' %}
{% block content %}	
	<h4>Upload Document</h4>
	<div class="row">
		<div class="col-md-8">
			<form id="upload-form" action="{% url 'duedilligence:upload_xhr' %}" method="post" enctype="multipart/form-data"
			      >
				{% csrf_token %}
				<div class="form-group">
					<label for="id_processor" class="control-label">Processor</label>
					<div>
						<p>{{ form.processor }}</p>
					</div>
				</div>
				<div class="form-group">
					<label for="id_upload" class="control-label" >Document to upload</label>
					<div >						
						{{ form.upload }}					
					</div>
				</div>
				<div class="progress" style="display: none">
        			<div class="progress-bar progress-bar-info" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">
        				<span class="percent">0%</span>
        			</div>
    			</div>    
    			<div id="status"></div>
				<div class="form-group">
					<div >
						<button type="submit" class="btn btn-primary">Upload</button>
						<button class="btn btn-default">Cancel</button>
					</div>
				</div>
			</form>			
		</div>
	</div>
{% endblock content %}
{% block scripts %}
 	<script type="text/javascript">
 		(function(){
 			var bar = $('.progress-bar');
			var percent = $('.percent');
			var status = $('#status');			
   			var errors = [];
   			var conf = {
   				onElementValidate: function(valid, $el, $form, errorMsg){
   					if (!valid){
   						errors.push({el: $el, error: errorMsg});
   					}
   				}
   			};
   			var lang = {};
   			$.formUtils.loadModules('file');

			$('#upload-form').ajaxForm({
				beforeSubmit: function(arr, $form, options){
					errors = [];
					if (!$form.isValid(lang, conf, true)){
						return false;
					}
				},
    			beforeSend: function() {
					status.empty();
					$(".progress").show();
					var percentVal = '0%';
					bar.width(percentVal)
					percent.html(percentVal);					
				},
		    	uploadProgress: function(event, position, total, percentComplete) {		        
		        	var percentVal = percentComplete + '%';
		        	bar.width(percentVal)
		        	percent.html(percentVal);
				//console.log(percentVal, position, total);
		    	},
		    	success: function() {
		        	var percentVal = '100%';
		        	bar.width(percentVal)
		        	percent.html(percentVal);
		    	},
				complete: function(xhr) {

					var result = JSON.parse(xhr.responseText);
					if (result.errors){
						var listElem = $("<ul class='validation-summary-errors'>");						
						for (var prop in result.errors){
							listElem.append("<li>" + prop + "-" + result.errors[prop] + "</li>");
						}					
						status.append(listElem);
					}
				}
 			});
 		})();
 		
 		// var $fileInput = $("#id_upload");
 		// if (!$fileInput[0].files[0]){
 		// 	$("#file-upload-info").html("No file selected");
 		// }

 		// $fileInput.change(function(){ 			
 		// 	$("#file-upload-info").html($(this)[0].files[0].name);
 		// })
		$.validate();
 	</script>
{% endblock scripts %}