{% extends "base.html" %}
{% block content %}
	<h3>Uploaded Documents</h3>
	{% if documents %}
		<div class="table-responsive">
			<table class="table">
				<caption style="text-align: left; padding-top: 10px; padding-bottom: 10px;">{{ documents.paginator.count }} documents found</caption>
				<tr class="row">
					<th class="col-md-4">File Name</th>
					<th class="col-md-4">Processor</th>
					<th class="col-md-4">Date Uploaded</th>
				</tr>
				{% for d in documents %}
				<tr class="row">
					<td class="col-md-4"><a href="{{ d.upload.url }}">{{ d }}</a></td>
					<td class="col-md-4">{{ d.processor }}</td>
					<td class="col-md-4">{{ d.date_uploaded }}</td>
				</tr>	
				{% endfor %}
			</table>
		</div>
		<div class="row">			
			<div class="col-md-offset-10 col-md-2">
			<nav>
				<ul class="pagination pagination-sm"> 
					{% if documents.has_previous %}				
					<li>				
						<a href="?page={{ documents.previous_page_number }}" aria-label="Previous">
							<span aria-hidden="true">&laquo;Previous</span>
						</a>
					</li>
					{% endif %}
					<li class="active">
						<a href="#">{{ documents.number }} of {{ documents.paginator.num_pages }}<span class="sr-only">(current)</span></a>
					</li>
					{% if documents.has_next %}
					<li>
						<a href="?page={{ documents.next_page_number }}" aria-label="Next">
							<span aria-hidden="true">&raquo;Next</span>
						</a>
					</li>
					{% endif %}
				</ul>				
			</nav>
			</div>			
			</div>
		</div>
	{% else %}
		<p>No uploaded documents</p>
	{% endif %}
{% endblock content %}