<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PEAR Portal</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'content/site.css' %}" />
    <script src="{% static 'scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body>    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="" class="navbar-brand"><!--<img src="{% static 'img/PearConsulting.png' %}" class="logo" />-->
                    PEAR Portal
                </a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% url 'duedilligence:index' as dashboard_url %}
                    <li {% if request.path == dashboard_url %} class="active" {% endif %}>
                        <a href="{{ dashboard_url }}">DASHBOARD</a></li>
                    <li><a href="">PROFILE</a></li>                
                </ul>
                 {% include 'loginpartial.html' %} 
            </div>
        </div>
    </div>

    <div class="container body-content">
{% block content %}{% endblock %}
        <hr/>
        <footer>
            {% now "Y" as current_year %}
            <p>&copy; {{ current_year }} - PEAR Portal</p>
        </footer>
    </div>

    <script src="{% static 'scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'scripts/bootstrap.js' %}"></script>
    <script src="{% static 'scripts/respond.js' %}"></script>
    <script src="{% static 'scripts/jquery.form.min.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.2.8/jquery.form-validator.min.js"></script>
{% block scripts %}{% endblock %}

</body>
</html>
